[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket.git
[submodule "src/github.com/howeyc/fsnotify"]
	path = src/github.com/howeyc/fsnotify
	url = https://github.com/howeyc/fsnotify
