
    <script src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://angular-ui.github.io/ui-utils/build/ui-utils.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.0/lodash.js"></script>

    <script src="/public/js/ng/app.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/tank.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/web_socks.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/auth_form.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/game_map.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/control_form.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/ng/session_form.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>
