<div ng-controller="GunForm" ng-show="isGun()">
  <form ng-submit="apply()" role="form" class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2">Turn Angle</label>
      <div class="col-sm-10">
        <input type="number" ng-model="TurnAngle" placeholder="TurnAngle" class="form-control" min="-36000" max="36000" step="1">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" value="Apply">
      </div>
    </div>

  </form>
</div>
