<div ng-show="isPage('')" class="row" >

  <div class="col-md-8">
    {{template "tabs.html" .}}
    <p></p>
    {{template "auth_form.html" .}}
    {{template "control_form.html" .}}
    {{template "message_form.html" .}}
    {{template "session_form.html" .}}
    {{template "tank_form.html" .}}
  </div>

  <div class="col-md-4">

    <h5>Messages: </h5>

    <ul>
      <li ng-repeat="message in messages">
      <span>{{ ng "message.text" }}</span>
      </li>
    </ul>

  </div>

</div><!-- /row -->



