{{template "header.html" .}}

{{template "navbar.html" .}}

<div class="container" ng-app="myApp">

  <div class="jumbotron" ng-controller="WebSocks">
    <form ng-submit="sendMessage()">
      <input type="text" ng-model="messageText"  size="30" >
      <input class="btn-primary" type="submit" value="Send">
    </form>
    <ul>
      <li ng-repeat="message in messages">
        <span>{{ ng "message.text" }}</span>
      </li>
    </ul>
  </div>

  <div class="jumbotron">
    <h1>Navbar example</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>

</div> <!-- /container -->

{{template "footer.html" .}}
