{{template "header.html" .}}

{{template "navbar.html" .}}

<div class="container" ng-app="app" ng-controller="WebSocks">
  <div class="well" >

    <div class="row">

      <div class="col-md-8">
        {{template "tabs.html" .}}
        <p></p>
        {{template "auth_form.html" .}}
        {{template "control_form.html" .}}
        {{template "message_form.html" .}}
        {{template "session_form.html" .}}
      </div>

      <div class="col-md-4">

        <h5>Messages: </h5>

        <ul>
          <li ng-repeat="message in messages">
          <span>{{ ng "message.text" }}</span>
          </li>
        </ul>

      </div>

    </div><!-- /row -->



  </div><!-- /well -->


  <div class="jumbotron" ng-controller="GameMap" >
    <canvas id="gameMap" tabindex="0" ui-keydown="{13: 'pressEnter($event)', 37: 'pressLeft($event)', 38: 'pressUp($event)', 39: 'pressRight($event)', 40: 'pressDown($event)' }" width="1024" height="768" ></canvas>
  </div>

</div> <!-- /container -->

{{template "footer.html" .}}
