{{template "header.html" .}}

{{template "navbar.html" .}}

<div class="container" ng-app ng-controller="WebSocks">
  <div class="jumbotron" >
    {{template "tabs.html" .}}
    {{template "auth_form.html" .}}
    {{template "message_form.html" .}}
    {{template "session_form.html" .}}
    <ul>
      <li ng-repeat="message in messages">
      <span>{{ ng "message.text" }}</span>
      </li>
    </ul>
  </div>
  <div class="jumbotron" ng-controller="GameMap" >
    <canvas id="gameMap" width="500" height="300">
    </canvas>
  </div>

</div> <!-- /container -->

{{template "footer.html" .}}
