

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Go Tanks</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav" ng-click="changePage()">
        <li ng-class="{active: isPage('')}"><a href="#">Home</a></li>
        <li ng-class="{active: isPage('about')}"><a href="#about">About</a></li>
        <li ng-class="{active: isPage('api')}"><a href="#api">API</a></li>
        <li ng-class="{active: isPage('help')}"><a href="#help">Help</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>


