<ul class="nav nav-tabs">
  <li ng-class="{active:isAuth()}" ng-click="setAuth()"><a href="#">Auth</a></li>
  <li ng-class="{active:isControl()}" ng-click="setControl()"><a href="#">Control</a></li>
  <li ng-class="{active:isGun()}" ng-click="setGun()"><a href="#">Gun</a></li>
  <li ng-class="{active:isMessage()}" ng-click="setMessage()"><a href="#">Message</a></li>
  <li ng-class="{active:isTank()}" ng-click="setTank()"><a href="#">Tank</a></li>
  <li ng-class="{active:isSession()}" ng-click="setSession()"><a href="#">Session</a></li>
</ul>
