<div ng-controller="TankForm" ng-show="isTank()">
  <form ng-submit="apply()" role="form" class="form-horizontal">

    <div class="form-group">
      <label class="control-label col-sm-2">Id</label>
      <div class="col-sm-4">
        <input ng-model="Id" placeholder="Id" class="form-control" disabled>
      </div>
      <label class="control-label col-sm-2">Health</label>
      <div class="col-sm-4">
        <input ng-model="Health" placeholder="Health" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Y</label>
      <div class="col-sm-4">
        <input ng-model="Y" placeholder="Y" class="form-control" disabled>
      </div>
      <label class="control-label col-sm-2">X</label>
      <div class="col-sm-4">
        <input ng-model="X" placeholder="X" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">LeftMotor</label>
      <div class="col-sm-4">
        <input ng-model="LeftMotor" placeholder="LeftMotor" class="form-control" disabled>
      </div>
      <label class="control-label col-sm-2">RightMotor</label>
      <div class="col-sm-4">
        <input ng-model="RightMotor" placeholder="RightMotor" class="form-control" disabled>
      </div>

    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">Direction</label>
      <div class="col-sm-4">
        <input ng-model="Direction" placeholder="Direction" class="form-control" disabled>
      </div>
      <label class="control-label col-sm-2">GunDirection</label>
      <div class="col-sm-4">
        <input ng-model="GunDirection" placeholder="GunDirection" class="form-control" disabled>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2">GunReloadProgress</label>
      <div class="col-sm-4">
        <input ng-model="GunReloadProgress" placeholder="GunReloadProgress" class="form-control" disabled>
      </div>
      <label class="control-label col-sm-2">GunTemperature</label>
      <div class="col-sm-4">
        <input ng-model="GunTemperature" placeholder="GunTemperature" class="form-control" disabled>
      </div>
    </div>



  </form>
</div>
